{% extends 'base_index.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="apresentacao">Bem vindo!</h3>
            </div>
            <div class="col-12">
                <a class="btn btn-success" href="{% url 'agendamento' %}">Agendamento</a>
                <a class="btn btn-success" href="{% url 'visualizar_datas' %}">Visualizar datas e periodos</a>
            </div>
        </div>
    </div>
{% endblock %}